.graficos {
  margin-left: 25vw;;
  margin-top: 25vh;
  width: 50vw;
  height: 50vh;
  display: flex;
  background-color: #FFF;
  overflow: hidden;
}

#piechart {
  min-width: 100%;
  min-height: 100%;
  background-color: transparent;
  float:left;
}
#piechart2 {
  min-width: 100%;
  min-height: 100%;
  background-color: transparent;
  float:left;
}

.btn {
  width: 100px;
  height: 100px;
  margin-top: calc(50vh - 250px);
  position: absolute;
  cursor: pointer;
  z-index: 1000;
}
.btn:nth-child(1) {
  left: 25vh;
}
.btn:nth-child(2) {
  right: 25vh;
}
